@charset "UTF-8";

@font-face {
    font-family: "oldenglish";
    src: url(fonts/Old\ English\ Five.ttf);
}

/* ------- Generic ------- */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0cm;
    padding: 0cm;

}

:root {
    --colour01: #0B0014;
    --colour02: #5F758E;
    --colour03: #F0F6F6;
    --colour04: #88292f;
    --fontParao: Arial, Verdana, Helvetica, Sans-serif;
    --fontMain: "oldenglish", "Cursive"
}

/* ------- Generic ------- */



body {
    background-color: #000000;
    /* Foto de André Cook no Pexels */
}

header {
    background-image: url(image/angellshouse2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 0.7cm;
    padding-bottom: 0.35cm;
    text-align: center;
}


nav {
    background-color: #0B0014;
    text-align: center;
    font-size: 1.4em;
    padding: 0.1cm 0cm 0.1cm 0cm;
    box-shadow: 3px 2px 11px;
}

nav > a {
    text-decoration: none;
    color: #5F758E;
    margin: 0.5cm;
}

main {
    background-color: var(--colour03);
    min-width: 300px;
    max-width: 1400px;
    padding: 10px;
    margin: auto;
    border-radius: 0cm 0cm 0.2cm 0.2cm;
}

main > h1 {
    color: var(--colour01);
    text-shadow: 1px 1px 6px var(--colour03), 1px -1px 6px var(--colour03);
}

img.demonstration {
    width: 80%;
    display: block;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

main > img {
    
}

h1 {
    font-family: var(--fontMain), Arial, Helvetica, sans-serif;
    color: var(--colour02);
    text-align: center;
}

header > h1 {
    color: var(--colour03);
    text-shadow: 1px 1px 6px #000000, 1px -1px 6px #000000;
}

h2 {
    color: var(--colour02);
    text-align: center;
    padding: 5px;
}

header > h2 {
    color: var(--colour03);
    text-shadow: 1px 1px 6px #000000, 1px -1px 6px #000000;
}

h3 {
    color: #5F758E;
    text-align: center;
}

p {
    color: #0B0014;
    text-indent: 20px;
    padding: 10px;
    line-height: 30px;
}

div.img {
    background-image: url(image/pexels-andré-cook-131723.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 2px 6px 14px #000000a3;

    height: 600px;
    padding: 5px -10px 5px -10px;
    margin: 0px -10px 0px -10px;
}
