@charset "UTF-8";

@font-face {
    font-family: "oldenglish";
    src: url(fonts/Old\ English\ Five.ttf);
}

* {
    margin: 0cm;
    padding: 0cm;

}

:root {
    --colour01: #0B0014;
    --colour02: #5F758E;
    --colour03: #F0F6F6;
    --colour04: #88292f;
    --fontParao: Arial, Verdana, Helvetica, Sans-serif;
    --fontMain: "oldenglish", "Cursive"
}

body {
    background-color: #f0f6f6;
}

header {
    background-image: url(image/angellshouse.png);
    padding-top: 0.7cm;
    padding-bottom: 0.35cm;
    text-align: center;
}

nav {
    background-color: #0B0014;
    text-align: center;
    font-size: 1.4em;
    padding: 0.1cm 0cm 0.1cm 0cm;
    box-shadow: 3px 2px 11px;
}

nav > a {
    text-decoration: none;
    color: #5F758E;
    margin: 0.5cm;
}

h1 {
    font-family: var(--fontMain), Arial, Helvetica, sans-serif;
    color: var(--colour02);
    text-align: center;
}

h2 {
    color: var(--colour02);
    text-align: center;
}

h3 {
    color: #5F758E;
    text-align: center;
}

p {
    color: #0B0014;
}
